{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }} - Réservation
{% endblock%}
	
{% block body %}
	<h1>Réserver vos billets</h1>
   
   <div class="well">
      {{ form_start(bookingForm, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(bookingForm) }}
      <div class="form-group">

      {{ form_label(bookingForm.email, "Adresse email :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(bookingForm.email) }}
      <div class="col-sm-4">
         {{ form_widget(bookingForm.email, {'attr': {'class': 'form-control'}}) }}
      </div>

      <br />

      {{ form_label(bookingForm.dayToVisit, "Jour de visite :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      
      <div class="col-sm-5">
         {{ form_widget(bookingForm.dayToVisit) }}
      </div>

      <br/>

      {{ form_label(bookingForm.typeOfTicket, "Type de la visite :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    
      <div class="col-sm-4">
         {{ form_widget(bookingForm.typeOfTicket) }}
      </div>

      <br/>

      {{ form_label(bookingForm.nbTickets, "Nombre de visiteurs :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      
      <div class="col-sm-1">
         {{ form_widget(bookingForm.nbTickets, {'attr': {'class': 'form-control'}}) }}
      </div>
      
      <br/>

      <div style="text-align: center">
         <input type="submit" value="Réserver" class="btn btn-primary" />
      </div>
      
      {{ form_end(bookingForm) }}
      </div>
   </div>
{% endblock %}

