<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Musée du Louvre{% endblock %}</title>
	{% block stylesheets %}
		{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
		<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
	{% endblock %}
</head>

<body>
	<div class="banner">
          <h1>Musée du <br/>Louvre</h1>
	</div>

    {% block menu %}
        {% include ':Booking:menu.html.twig' %}
    {% endblock %}


    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
				<div class="alert alert-{{ label }}" role="alert">
					{{ message }}
				</div>
            {% endfor %}
        {% endfor %}

    	{% block body  %}
			<p>
				Bienvenue sur le site de réservation de billet pour le musée du Louvre. Acheter vos billets directement en ligne et gagner du temps sur votre visite !
			</p>
		{% endblock %}
	
		<hr>
    </div>
	

	<footer class="container">
		<p>Musée du Louvre © {{ 'now'|date('Y') }}.</p>
	</footer>

	{% block javascripts %}

  	{% endblock %}
</body>
</html>