{% extends "ProjectBookingBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Réservation
{% endblock%}
	
{% block body %}
	<h1>Réserver vos billets</h1>
   
   <div class="well">
      {{ form_start(ticketForm, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(ticketForm) }}
      <div class="form-group">

      {{ form_label(ticketForm.email, "Adresse email :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(ticketForm.email) }}
      <div class="col-sm-4">
         {{ form_widget(ticketForm.email, {'attr': {'class': 'form-control'}}) }}
      </div>

      <br />

      {{ form_label(ticketForm.dayToVisit, "Jour de visite :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      
      <div class="col-sm-5">
         {{ form_widget(ticketForm.dayToVisit) }}
      </div>

      <br/>

      {{ form_label(ticketForm.typeOfTicket, "Type de la visite :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    
      <div class="col-sm-4">
         {{ form_widget(ticketForm.typeOfTicket) }}
      </div>

      <br/>

      {{ form_label(ticketForm.nbTickets, "Nombre de visiteurs :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      
      <div class="col-sm-1">
         {{ form_widget(ticketForm.nbTickets, {'attr': {'class': 'form-control'}}) }}
      </div>
      
      <br/>

      <div style="text-align: center">
         {{ form_widget(ticketForm.booked, {'attr': {'class': 'btn btn-primary'}}) }}
      </div>
      
      {{ form_end(ticketForm) }}
      </div>
   </div>
{% endblock %}

