{% extends "ProjectBookingBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Réservation
{% endblock%}
	
{% block body %}
	{{ parent() }}
	<h1>Réserver vos billets</h1>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  {# Génération manuelle et éclatée : #}
  <div class="form-group">
    {{ form_label(form.name, "Nom :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {{ form_errors(form.name) }}

    <div class="col-sm-5">
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_label(form.firstName, "Prénom :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.firstName) }}

    <div class="col-sm-5">
      {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_label(form.birthday, "Date de naissance :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.birthday) }}

    <div class="col-sm-10">
    	{{ form_widget(form.birthday) }}
    </div>

    {{ form_label(form.country, "Pays d'origine :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.country) }}

    <div class="col-sm-4">
    	{{ form_widget(form.country) }}
    </div>

    {{ form_label(form.email, "Adresse email :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.email) }}

    <div class="col-sm-5">
      {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_label(form.dayToVisit, "Jour de visite :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.dayToVisit) }}

    <div class="col-sm-10">
    	{{ form_widget(form.dayToVisit) }}
    </div>

    <div class="col-sm-10">
      {{ form_widget(form.allDay, {'attr': {'class': 'form-control'}}) }}
      {{ form_widget(form.halfDay, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="col-sm-10">
    	{{ form_widget(form.reducePrice, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{ form_label(form.nbTickets, "Nombre de visiteurs :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.nbTickets) }}

    <div class="col-sm-1">
      {{ form_widget(form.nbTickets, {'attr': {'class': 'form-control'}}) }}
    </div>

  </div>

  {{ form_widget(form.pay, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_end(form) }}
</div>

{% endblock %}